<header>
  <div class="wrap">
    <h1><%= link_to "QWNotes", root_path %></h1>
  </div>
</header>

<div id="center">
  <p>QWNotes is a web app that allows you to save notes online, without requiring an account.</p>
  <p>This app is not intended to be used for confidential information, anybody who knows the unique key for your notepad will be able to view and edit it freely.</p>
  <p>Entering an identifer that is not in use will create a new notepad for you to store notes. If the identifer has already been used, you will be directed to the existing notepad.</p> 
  <p>You may store up to 8 notes per notepad.</p>
  <p>Try entering an identifier only you would think of, or click 'Go' with the suggested identifier to get started right away.</p><br>

  <%= form_for @notepad do |f| %>
    <p>
      <%= f.label "Enter the Notepad Identifier:" %><br>
      <%= f.text_field :url, size: "30", placeholder: @notepad.url, value: "" %>
      <%= f.hidden_field :orig_url, size: "0", value: @notepad.url %>
    </p>

    <p>
      <%= f.submit "Go" %>
    </p>
  <% end %>

</div>
